<div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-3">
          <div class="header__logo">
              <a href="./index.html"><img src="img/infinity-logo.png" alt="" style="width: 5rem;"></a>
          </div>
      </div>
      <div class="col-lg-6 col-md-6">
          <nav class="header__menu mobile-menu">
              <ul>
                  <li class="active"><a href="./index.html">Home</a></li>
                  <li><a href="">Shop</a></li>
                  <li><a href="#">Pages</a>
                      <ul class="dropdown">
                          <li><a href="">About Us</a></li>
                          <li><a href="">Shop Details</a></li>
                          <li><a href="">Shopping Cart</a></li>
                          <li><a href="">Check Out</a></li>
                          <li><a href="">Blog Details</a></li>
                      </ul>
                  </li>
                  <li><a href="">Blog</a></li>
                  <li><a href="">Contacts</a></li>
              </ul>
          </nav>
      </div>
      <div class="col-lg-3 col-md-3">
          <div class="header__nav__option">
              <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
              <a href="#"><img src="img/icon/heart.png" alt=""></a>
              <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
          </div>
      </div>
  </div>
  <div class="canvas__open"><i class="fa fa-bars"></i></div>
</div>